<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 配置文件 -->
    <context:property-placeholder location="classpath:config.properties"/>

    <!-- 扫描包 -->
    <context:component-scan base-package="cn.haohaoli.cart.controller"/>
    <mvc:annotation-driven/>

    <!-- 静态资源 -->
    <mvc:default-servlet-handler/>

    <!-- 拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="cn.haohaoli.cart.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 引用dubbo服务 -->
    <dubbo:application name="${dubbo.application.name}"/>
    <dubbo:registry protocol="zookeeper" address="${dubbo.zookeeper.address}"/>
    <dubbo:reference interface="cn.haohaoli.service.TbItemService" id="tbItemServiceImpl"/>
    <dubbo:reference interface="cn.haohaoli.sso.service.TokenService" id="tokenServiceImpl"/>
    <dubbo:reference interface="cn.haohaoli.cart.service.CartService" id="cartServiceImpl"/>
</beans>