<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <!-- 加载文件 -->
    <context:property-placeholder location="classpath:config.properties"/>
    <!-- 扫描包 -->
    <context:component-scan base-package="cn.haohaoli.controller"/>
    <mvc:annotation-driven/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 页面跳转 -->
    <mvc:view-controller path="/" view-name="index"/>
    <mvc:view-controller path="/item-add" view-name="item-add"/>
    <mvc:view-controller path="/item-list" view-name="item-list"/>
    <mvc:view-controller path="/item-edit" view-name="item-edit"/>
    <mvc:view-controller path="/item-param-list" view-name="item-param-list"/>
    <mvc:view-controller path="/content-category" view-name="content-category"/>
    <mvc:view-controller path="/content" view-name="content"/>
    <mvc:view-controller path="/index-item" view-name="index-item"/>

    <!-- 资源映射 -->
    <mvc:resources mapping="/css/**" location="/css/"/>
    <mvc:resources mapping="/js/**" location="/js/"/>

    <!-- 配置多媒体解析器 -->
    <!-- 配置文件上传解析器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置编码 -->
        <property name="defaultEncoding" value="UFT-8"/>
        <!-- 设置文件上传最大值5MB -->
        <property name="maxUploadSize" value="5242800"/>
    </bean>

    <!-- 引用dubbo服务 -->
    <dubbo:application name="e3-manager-web"/>
    <dubbo:registry protocol="zookeeper" address="${zookeeper.address}"/>
    <dubbo:reference interface="cn.haohaoli.service.TbItemService" id="tbItemServiceImpl"/>
    <dubbo:reference interface="cn.haohaoli.service.TbItemCatService" id="tbItemCatServiceImpl"/>
    <dubbo:reference interface="cn.haohaoli.content.service.TbContentCategoryService" id="tbContentCategoryServiceImpl"/>
    <dubbo:reference interface="cn.haohaoli.content.service.TbContentService" id="tbContentServiceImpl"/>
</beans>